@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Convergence&family=Inder&family=Inter:slnt,wght@-10..0,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

    .container {
        padding: 0 70px;
        margin: 0 auto;
    }


.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding: 10px 90px;
    top: 0px;
    background-color: #fff;
    box-shadow: 0px 20px 46px 1px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.top-header :hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

.nav-links ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-family: "Inter", sans-serif;

}

.nav-links ul li {
    margin: 12px 20px;
}

.nav-links li:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

.login-btn {
    font-family: "Inter", sans-serif;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.login-btn:hover {
    cursor: pointer;
    scale: 1.1;
}

.sign-up-btn {
    cursor: pointer;
    background-color: #E94339;
    color: #fff;
    border-radius: 50px;
    width: 80px;
    height: 35px;
    margin-left: 25px;
    border: #E94339;
}

.sign-up-btn:hover {
    cursor: pointer;
    background-color: #E94339;
    scale: 1.1;
}

/* hero section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 110px;
}

.hero-img {
    width: 340px;
    background-color: #F2EBDA;
    border-radius: 50px;
    margin-right: 100px;
    animation: hero-img-animation 9s ease 0s infinite normal none;
    cursor: pointer;
}

.hero-section-left h1 {
    font-family: "Inter", sans-serif;
    font-size: 50zpx;
    margin-top: 80px;
}

.hero-section-left p {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 30px;
    line-height: 20px;
}

.order-now-input input {
    width: 90%;
    height: 44px;
    border-radius: 50px;
    background-color: #F6F6F6;
    padding: 0px 10px;
    border: none;
    font-size: 15px;
}

.order-now-input {
    position: relative;
    margin: 29px 0px;
}

.order-now-input button {
    cursor: pointer;
    position: absolute;
    left: 73.3%;
    top: 4%;
    background-color: #FF5331;
    border-radius: 50px;
    padding: 13px 15px;
    border-color: #FF5331;
    border: none;
    color: #F2EBDA;

}

.order-btn:hover {
    cursor: pointer;
    background-color: #E94339;
    transform: scale(1.1);
    transition: 0.5s;
}

.download-btns {
    display: flex;
}

.download-btns button:hover {
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.1)
}

.app-store-btn {
    display: flex;
    align-items: center;
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin: 0px 20px;
}

.app-store {
    margin-right: 15px;
    font-weight: bold;
    font-size: 20px;
}

/* order section */

.order-numbers {
    text-align: center;
    margin: 90px 0px 20px;
}

.order-numbers h1 {
    font-family: "Inter", sans-serif;
    font-size: 46px;
    font-weight: bold;
}

.order-numbers h1 span {
    color: #FF5331;
}

.order-numbers p {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: #191720;
}

/* food cards */

.food-cards {
    display: flex;
    padding: 10px 0px;
}

.food-deals-cards {
    display: flex;
    margin: 140px 30px;
}

.food-deals-cards :hover {
    cursor: pointer;
    background-color: #F2EBDA;
    transform: scale(1.1);
    transition: 0.5s;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #FAFAFA;
    border-radius: 28px;
    padding: 40px;
    margin: 0px 17px;
    height: 95px;
}

.food-item {
    background-color: #fff;
    border-radius: 50px;
    padding: 14px;
}

.card span {
    text-align: center;
    margin: 15px 0px;
    font-size: 17px;
    font-family: "Inter", sans-serif;
}

.delivery-card {
    background: #FAFAFA;
    border-radius: 25px;
    margin-top: 50px;
    padding: 15px 20px;
    margin-left: 7%;
    height: 300px;
}

.delivery-card h3 {
    font-size: 22px;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
}

.free-delivery {
    color: #009B00;
}

.bike-div {
    margin-left: 120px;
    justify-content: flex-end;
    padding-top: 13px;
}

.bike-div img {
    margin-top: 25px;
}

.delivery-card:hover {
    cursor: pointer;
    background-color: #F2EBDA;
    transform: scale(1.1);
    transition: 0.9s;
}

/* second food items */

.para-food-item {
    margin-top: 23px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.second-food-cards {
    display: flex;
}

/* how to order */

.second-section-card {
    position: relative;
}

.div-for-heading {
    font-size: 29px;
}

.div-for-display {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}

.div-for-card {
    justify-content: center;
    position: absolute;
    top: 70%;
    right: 15px;
    background-color: #FAFAFA;
    border-radius: 30px;
    padding: 40px;
    width: 86px;
    height: 125px;
}

.div-for-card img {
    margin-left: 15px;
}

.div-for-card:hover {
    cursor: pointer;
    background-color: #F2EBDA;
    transform: scale(1.1);
    transition: 0.5s;
}

/* Our clients */
.div-for-space {
    margin-top: 280px;

}

.our-clients {
    font-size: 44px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}


.para-text {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 80px;
}

.vector-img {
    margin-bottom: 28px;
}

.vector-para {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    line-height: 34px;
    margin-top: 10px;
}

.text {
    margin-top: 60px;
}

.text h2 {
    font: 27px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-align: center;

}

.text p {
    font: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    text-align: center;
}

.Arrow-icons {
    text-align: center;
    margin-top: 23px;
    cursor: pointer;
}

/* 2nd last section */

.subscribe-section {
    background: #FFEFEC;
    display: flex;
   padding: 40px 0;
}

.sub-our-news {
    margin: 100px 90px;
    color: #000000;
    font-weight: 600px;
    font-size: 20px;
}
.sub-our-news  h2{
    line-height: 20px;
}
.search-input {
    position: relative;
    width: 100px;
    padding: 0 10px;
}

.div-for-btn {
    position: absolute;
        top: 30%;
        left: 60px;
        width: 90%;      
        height: 44px;
        margin: 29px 0;
        margin-right: 30px;
}

.input {
    outline: none;
    width: 200px;
    height: 42px;
    border-radius: 50px;
    border: none;
    margin-right: 100px;
    padding-left: 12px;
}


.div-for-btn button {
    position: absolute;
    right: -95%;
    top: 1.5%;
    cursor: pointer;
    border-radius: 50px;
    border: #E94339;
    background-color: #E94339;
    color: #F2EBDA;
    padding: 12.2px 18px
}

.send-btn:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #E94339;
}

/* Animation */


@keyframes hero-img-animation {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        transform: translateY(8px);
    }

    80% {
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
    }
}

/* footer section */

.footer-btns {
    display: flex;
}


.pizza-img {
    margin: 100px 0px;
}

.footer-items {
    justify-content: space-between;
    color: #FAFAFA;

}


.footer-items {
    display: flex;
    justify-content: space-between;
    margin: 0px 400px;
    padding: 10px;


}

.footer-items li {
    list-style: none;
}

/* terms */

.apple-logo-btn {
    width: 10px;
}

.copy-right-section {
    margin: 0px 180px;
}

.copy-right {
    display: flex;
    color: #F6F6F6;
    align-items: center;
}


.li-items {
    padding: 0px 10px;
}

.terms-list {
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    margin: 70px 100px;
    width: 100px;

}